/* @override 
	file:///Volumes/Macintosh%20HD/Users/daniele/Sites/sandbox/Yummi-cal/site/css/style.css
	http://yummical.com/css/style.css
*/

/* @group BP */

/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: orange;
	text-decoration: none;
}
a:visited { color: orange;
	text-decoration: none;
}
a:hover { color: #d09000;
	text-decoration: none;
}
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 2px dotted white; padding: 0;
	margin: 0.5em 0;
	
}
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word;
}
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }

ul
 {
	list-style-type: square;
}
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */











/* =============================================================================
   Media Queries
   ========================================================================== */

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */

/* @end */

/* @group 1140 */figure{position:relative}figure img{width:100%}


/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container {
padding-left: 20px;
padding-right: 20px;
}

.row {
width: 100%;
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
min-height: 1px;
}

.row .onecol {
width: 4.85%;
}

.row .twocol {
width: 13.45%;
}

.row .threecol {
width: 22.05%;
}

.row .fourcol {
width: 30.75%;
}

.row .fivecol {
width: 39.45%;
}

.row .sixcol {
width: 48%;
}

.row .sevencol {
width: 56.75%;
}

.row .eightcol {
width: 65.4%;
}

.row .ninecol {
width: 74.05%;
}

.row .tencol {
width: 82.7%;
}

.row .elevencol {
width: 91.35%;
}

.row .twelvecol {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}


/* Smaller screens */


/* Mobile */



/* @end */

/* @group prism */

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;	
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}


.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}




/* @end */

html {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: black;
	color: white;
}

body{
	font-family: 'PT Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	
}

h1 {
	font-size: 4em;
	margin-bottom: 0;
	color: white;
	margin-top: 14px;
	text-transform: capitalize;
	display: inline-block;
	position: relative;
	line-height: 1em;
	text-shadow: #000 2px 3px 0;

}
h1#title:after {
	content: "";
	font-size: 15px;
	width: 22px;
	height: 23px;
	display: block;
	right: -23px;
	position: absolute;
	background: url(../img/1.png) 0 -203px;
	bottom: 3px;
}

h4#payoff {
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	letter-spacing: 1px;
	text-shadow: #000 0 1px 1px;
	text-transform: uppercase;
}

p {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	
}

header {
	height: 5px;
	background-color: black;
	margin-bottom: 5em;
}

div#grabme {
	text-align: right;
}

#hand {
	background: url(../img/1.png) no-repeat 0 0;
	width: 20px;
	height: 20px;
	float: right;
	position: relative;
}

p.info {
	text-align: right;
}

span#logo {
	width: 50px;
	height: 50px;
	display: inline-block;
	float: right;
	background: url(../img/gb_logo.png) no-repeat 0 -4px;
}
      

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}
	
	}

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}

#absolute_container {
	position: absolute;
}

#resizable_calendar {
	background-color: rgba(213,213,213,0.29);
	padding: 5%;
	border: 1px solid rgba(0,0,0,0.07);
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 90%;
	border-radius: 4px;
	
}

pre {
	font-size: 14px;
	line-height: 20px;
}

#datepicker_position {
	width: 100%;
	height: 400px;
}

.datepick {
	
  -webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
}

.datepick-popup {
	width: 300px;
}

input {
	margin: 30px;
}

div.datepick.datepick-multi {
	width: 100px;
}

/* @group hands */

#usage, #features {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 10px;
}

#usage li, #features li {
	background: url(../img/1.png) no-repeat 0 0;
	padding-left: 25px;
	margin-left: 0;
	margin-bottom: 10px;
	color: white;
}

#usage li:nth-child(1) {
	
}

#usage li:nth-child(2) {
	background-position: 0 -114px;
}

#usage li:nth-child(3) {
	background-position: 0 -223px;
}

#usage li:nth-child(4) {
	background-position: 0 -156px;
}

#features li:nth-child(1) {
	background-position: 0 -202px;
}

#features li:nth-child(2) {
	background-position: 0 -202px;
}

#features li:nth-child(3) {
	background-position: 0 -202px;
}

#features li:nth-child(4) {
	background-position: 0 -22px;
	
}

/* @end */

/* @group animation */

@-webkit-keyframes up {
  0%   { margin-top: 3px; }
  50% { margin-top: -1px; }
  100% { margin-top: 3px; }

}
@-moz-keyframes up {
  0%   { margin-top: 3px; }
  50% { margin-top: -1px; }
  100% { margin-top: 3px; }
}
@-o-keyframes up {
  0%   { margin-top: 3px; }
  50% { margin-top: -1px; }
  100% { margin-top: 3px; }
}
@keyframes up {
  0%   { margin-top: 3px; }
  50% { margin-top: -1px; }
  100% { margin-top: 3px; }
}

/* @end */
#hand  {
  -webkit-animation: up 2s infinite ease-in-out; /* Safari 4+ */
  -moz-animation:    up 2s infinite ease-in-out; /* Fx 5+ */
  -o-animation:      up 2s infinite ease-in-out; /* Opera 12+ */
  animation:         up 2s infinite ease-in-out; /* IE 10+ */
}